<div class="container my-5">
	<h1 class="my-3">Books <i class="fa-solid fa-book fa-l"></i></h1>
	<table class="table border border-success border-5 rounded-4 pb-5 mt-5" *ngIf="books && books.length > 0">
		<thead>
			<tr class="table-success">
				<th>Title</th>
				<th>Author</th>
				<th>Genre</th>
				<th>Published</th>
				<th> </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of books">
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.genre}}</td>
				<td>{{book.published}}</td>
				<td><a [routerLink]="['/books','edit', book.id ]">Edit</a></td>
				<td><a [routerLink]="['/books','delete', book.id ]">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<p *ngIf="!books || books.length <= 0">No books found</p>
	<button  class="btn btn-success"[routerLink]="['/books', 'add']">Add New Book</button>
</div>