<div class="container border border-success border-5 rounded-4 pb-5" style="max-width: 700px; margin-top: 150px;">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel-heading">
                <h3 class="pt-3 pb-1 offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 font weight-bold">
                    Login
                </h3>
            </div>
            <div class="panel-body p-3">
            <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <span class="fa-solid fa-circle-user fa-sm p-2"> </span>
                    <label for="exampleInputEmail1" class="form-label font-weight">Email</label>
                    <input formControlName="email" type="email" class="form-control" 
                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-lock p-2"></i>
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" 
                    id="exampleInputPassword1" placeholder=" Enter Password">
                </div>
                <p>Dont have an account? <a routerLink="/users/sign-up">Signup</a>  </p>
                <button (click)="onLogin" type="submit" class="btn btn-success">Login</button>
            </form>
            
        </div>
        </div>
    </div>
</div>

