<div class="container border border-success border-5 rounded-4 pb-5 mt-5">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel-heading">
                <h3 class="pt-3 pb-3 offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 font weight-bold">Signup</h3>
            </div>
      
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
        </div>
    </div>
</div>
